Debug
.vs/
/x64/Release
/delivery-console/Release
/delivery-console/x64
/delivery-console/output.txt
/delivery-console/two_3_output5.txt
/delivery-console/two_3_output4.txt
/delivery-console/two_3_output3.txt
/delivery-console/two_3_output2.txt
/delivery-console/two_3_output1.txt
/delivery-console/sales.txt
/delivery-gui/Logs
/delivery-gui/obj
/delivery-gui/Packages
/delivery-model/interface
/delivery-model/Release
/delivery-model/x64
/build
/build.zip
